<head>
  <title>To be continued..</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="ui fixed inverted compact menu">
    <div class="ui container">
      <div class="header item"><i class="code icon"></i>To Be Contintued..
      </div>
    </div>
  </div>

  <div class="content">
    <div class="text">
      <h1>To Be Continued..</h1>
      <h3 >Because learning never ends!</h3>
      <button class="ui button">SIGNUP</button>
      <button class="ui button">LOGIN</button>
    </div>
  </div>

</body>
