i.icon {
  font-size: 2em;
}

.container.main {
  margin-top: 7.0em;
}

.home {
  margin-top: 2em;
}

#delete {
  display: inline;
}

.content{
  padding-top: 15%;
  width: auto;
  height: 100%;
  background-image: url(images/bg-3.jpg);
  background-size: cover;

}

.text {
  text-align: left;
  font-size: 5em;
  padding-left: 5%;
  padding-top: 7%;
  color: slategrey;
}
